// $grid-background-column-color :
//$grid-background-gutter-color: green;
$grid-background-total-columns: 12;
// $grid-background-column-width
$grid-background-gutter-width: 30px;
//$grid-background-offset: 50px; 
$grid-background-baseline-color: green;
$grid-background-baseline-height: 29px;
// $show-column-grid-backgrounds: true;
// $show-baseline-grid-backgrounds: true;
// $show-grid-backgrounds: true;
$grid-background-force-fluid: true; 

html, body {
	@include grid-background();
}