.header_background_img {

	//background: url('../images/hills_blue.jpg') no-repeat center center;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;

}

.header_logo_container {

	margin: 0 auto;
	width: 50vw;
	padding-top: 20vh;
	position: relative;
	left: -2%;

	@include respond($tablet) {

		width: 20vw;
	}
}

.header_overlay {

    // width: 100vw;
    // height: 100vh;
    // background-color: black;
    // opacity: 0.6;
    // filter: alpha(opacity=60); /* For IE8 and earlier */
}