.work_container{
	padding: 4vw;
}

.work_title {
	padding-top: 6.5vw;
	padding-bottom: 4vw;
}

.work_text {

	//border: 1px solid black;

	&.work_text-img{
		//margin-top: 209px;
	}
}

.work_row_bottom {
	display: table;
	padding-top: 50px;
	
	> p , img {

		display: inline-block;
		float: none;
		vertical-align: bottom;
	}
}