.sidebar_container {

	border-right: 1px solid #d3d3d3;
	position: absolute;
	top: 0;
	bottom: 0;

}

.sidebar_logo_container {
	margin-top: 4vw;
	margin-right: 2vw
}

.sidebar_contact_container {
	margin-top: 10vw;
}

.sidebar_logo {
	padding-right: 2vw;
}


.sidebar ul {
	padding-left: 15px;
	padding-top: 4vw;
}


.sidebar  li {
	text-align: center;
	list-style-type: none;
}

.affix {
	position: fixed;
}