html,
body {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	// font-size: $base-font-size;
 //  	line-height: $base-line-height;
}

h1,h2,h3,h4,h5 {
	margin: 0;
	padding: 0;
}

h1 {

	color: $dark-blue;
	//text-align: center;
	font-family: 'Josefin Slab', sans-serif;

	// font-size: $h1-font-size;
	// line-height: $h1-line-height;
	// margin-top: $h1-margin-top;
	// margin-bottom: $h1-margin-bottom;

	font-size: 48px;
	line-height: 48px;

	&.about_title {
		padding-top: 6vh;
		padding-bottom: 6vh;
		//padding: 6vh 0;
	}

	&.work_title {
		text-align: center;
	}

}

h2 {

	color: $pale-blue;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Josefin Slab', sans-serif;
	font-weight: bold;

	font-size: 30px;
	line-height: 36px;
	margin-top:30px;

	// font-size: $h2-font-size;
	// line-height: $h2-line-height;
	// margin-top: $h2-margin-top;
	// margin-bottom: $h2-margin-bottom;

	&.header_title_name{
		color: $pale-blue;		
	}

	&.tramp_title {
		text-transform: none;
		text-align: left;
	}

	&.sidebar_contact_title {
		color: $purple;
	}

}

h3 {
	
	color: $lite-brown;
	//text-align: center;
	font-weight: bold;

	font-size: 20px;
	line-height: 24px;
	margin-top: 5px;

	&.header_title_description {
		text-align: center;
		color: $pale-blue;
	}

	// font-size: $h3-font-size;
	// line-height: $h3-line-height;
	// margin-top: $h3-margin-top;
	// margin-bottom: $h3-margin-bottom;

}

h4 {
	
	color: $lite-brown;	
	font-size: 16px;
	line-height: 24px;
	text-align: center;

	// font-size: $h4-font-size;
	// line-height: $h4-line-height;
	// margin-top: $h4-margin-top;
	// margin-bottom: $h4-margin-bottom;

}

h5 {
	color: white;
	font-size: 16px;
	line-height: 24px;

	// font-size: $h4-font-size;
	// line-height: $h4-line-height;
	// margin-top: $h4-margin-top;
	// margin-bottom: $h4-margin-bottom;
}

h6 {

	color: $lite-blue;
	text-align: center;
	text-transform: uppercase;

	font-size: 16px;
	line-height: 24px;

	// font-size: $h4-font-size;
	// line-height: $h4-line-height;
	// margin-top: $h4-margin-top;
	// margin-bottom: $h4-margin-bottom;

}

p {

	color: black;
	text-align: left;
	font-size: 18px;
	line-height: 1.5em;

	&.work_text-centre {
		text-align: center;
	}

}

.work_tech_list li {

	text-align: center;
	font-size: 20px;
	line-height: 24px;
	margin-top: 5px; 
}


a {
	color: black;	
	font-size: 18px;
	line-height: 1.5em;
	text-decoration: underline;

	&.content_button_link{
		color: white;
		font-weight: bold;
		text-decoration: none;
	}

	&.sidebar_nav {
		font-size: 24px;
		text-decoration: none;
	}
}

// p, ul, ol, pre, table, blockquote {
//   margin-top: 29px;
//   margin-bottom: 29px;
// }

// /* Sanitation */
// hr {
//   border: 1px solid;
//   margin: -1px 0;
// }
// ul ul, ol ol, ul ol, ol ul {
//   margin-top: 0;
//   margin-bottom: 0;
// }
// b, strong, em, small, code {
//   line-height: 1;
// }
// sup, sub {
//   vertical-align: baseline;
//   position: relative;
//   top: -0.4em;
// }
// sub {
//   top: 0.4em;
// }





