#work_container{
	padding: $vertical_padding $horizontal-padding;
}

.work_title {
	padding-top: 4vw;
	padding-bottom: 4vw;
}

.work_row {
	border-bottom: 1px solid black;
}

.work_text {

	margin-top: 2vw;
}

.work_img {
	
	padding-top: 4vw;

	&.work_img-right {
		padding-left: 4vw;
	}

	&.work_img-left {
		padding-right: 4vw;
	}
}

.work_row_bottom {
	display: table;
	padding-top: 4vw;
	
	> p , img, .work_tech_button {

		display: inline-block;
		float: none;
		vertical-align: bottom;
	}

	&.work_row_bottom-first {
		padding-top:0;
	}
}

.work_tech_button {

	margin-top: 4vw;

}
.work_tech_list {
	list-style-type: none;
	padding-left: 0;
	padding-top: 1vw;
}

.work_tech_title {
	margin-top: 4vw;
}

.work_arrow {
	padding-top: 4vw;
	padding-bottom: 4vw;
	width: 25px;

	&.work_arrow-right {
	//	position: absolute;
	}
}

.work_text-center{
	text-align: center;
}

.work_filler_container {
	min-height: 100vh - ($vertical-padding * 2);
}

.work_other_button {
	text-align: center;
	background: $lite-blue;
	padding: 10px 0;
	border-radius: 5px;
	margin-top: 1vw;


	@include respond($tablet) {
		width: 20vw;
	}
}

.work_other_article {
	margin-top: 4vw;
}

.work_other_button_pos {
	margin: 0 auto;
}
